    <div class="container-fluid white_back">
      <div id="sha_app" class="row">
        
        <!-- Start Section Header Bar -->
        <section id="sha_header_bar" class="col-12">
          <div class="row">
            
            <div class="col-10">
              <span class="sub-heading">Dashboard</span>
              <span class="heading">ProDeskSmart</span>
            </div>
            <div class="col-2">
            </div>
          </div>
        </section>
        <!-- End Section Header Bar -->
        </div>
  
<!-- 
<app-nav>
</app-nav> -->

    <router-outlet></router-outlet>


